html {
    background-image: url('../img/escheresque_ste.png');
    background-position: initial initial;
    background-repeat: initial initial;
}

body {
	background: url(../img/background.png) #FEFEFE;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-height: 1000px;

    -webkit-transform-origin: 50% 700px;
    -ms-transform-origin: 50% 700px;
    -o-transform-origin: 50% 700px;
    -moz-transform-origin: 50% 700px;
    transform-origin: 50% 700px;

    -webkit-transition: .3s -webkit-transform cubic-bezier(0.25,.46,.45,.94);
    -ms-transition: .3s -ms-transform cubic-bezier(0.25,.46,.45,.94);
    -o-transition: .3s -o-transform cubic-bezier(0.25,.46,.45,.94);
    -moz-transition: .3s -moz-transform cubic-bezier(0.25,.46,.45,.94);
    transition: .3s transform cubic-bezier(0.25,.46,.45,.94);
}

div.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

header {
	padding: 20px 0;
}

img#ouya {
	float: right;
}

section.feature img {
	float: left;
	width: 33%;
	margin-right: 20px;
}
section.feature p {
	text-align: center;
	font-size: 1.3em;
	font-weight: 200;
	color: #FEFEFE;
	margin: 20px 0 10px 0;
}

section.download {
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: center;
}
section.download button {
  background: #FF2A00;
  border: 0;
  color: #FEFEFE;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
section.download button:active {
  background: #CC2200;
}

/* http://jsfiddle.net/htmled/2kkHH/ */
.fadein {
  position: relative;
  width: 100%;
}

.fadein div {
  position: absolute;
  left: 0;
  top: 0;
}
.fadein div img {
  width: 100%;
  display: block;
}
.fadein div p {
  display: block;
  text-align: center;
  background: #111111;
  color: #FEFEFE;
  padding: 10px 10px;
  font-style: italic;
  font-size: 0.9em;
}

.show-modal body {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
}
.modal {
	position: absolute;
    top: 250px;
	left: 50%;
    opacity: 0;
    -webkit-transition: .3s all cubic-bezier(0.25,.46,.45,.94);
    background-color: #FF2A00;
    color: #FEFEFE;
    z-index: 101;
    width: 500px;
    overflow: scroll;
    padding: 40px 15px;
}
.modal h2 {
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal ol {
	list-style-type: decimal;
	list-style-position: inside;
	font-size: 1.4em;
	font-weight: 100;
}
.modal ol li {
	text-align: center;
	margin-bottom: 5px;
}
.modal em {
	font-style: italic;
}
.modal .close {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-weight: bold;
	padding: 0 2px;
}
.modal .close:hover {
	background: #FEFEFE;
	color: #FF2A00;
}
.show-modal .modal {
    -webkit-transform: scale(1.111);
    -o-transform: scale(1.111);
    -ms-transform: scale(1.111);
    -moz-transform: scale(1.111);
    transform: scale(1.111);
    opacity: 1;
}
.modal-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    background: rgba(0,0,0,.6);
    border: 1px solid rgba(0,0,0,.6);
    -webkit-transition: .3s all cubic-bezier(0.25,.46,.45,.94);
}
.show-modal .modal-shade {
    opacity: 1;
    visibility: visible;
}

.googleplus {
	display: none;
}
